### Heroes Of Pymoli Data Analysis
* Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).


* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  


* Players aged 20-24 yield the highest total purchase value for the game likely because they fall in the most populous group, but players under 10 years old spend the most money per item purchased.


* 'Final Critic' is our most purchased item and also our most profitable item. 'Oathbreaker, Last Hope of the Breaking Storm' is our second most purchased and profitable item.


* Our top 5 spenders spend an average of 3.80 dollars per item, and purchase approximately 4 items each, yielding an average total purchase value of approximately 15 dollars. Our top spender purchased 5 items at the highest total purchase value of 18.96 dollars.

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [200]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [199]:
total_players = pd.DataFrame(purchase_data["SN"].drop_duplicates())
total_players_count = total_players.count()
display = pd.DataFrame({"Total Players":total_players_count})
display

    Total Players
SN            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [198]:
items = pd.DataFrame(purchase_data["Item Name"].unique())
item_count = items.count()
average_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

summary_df = pd.DataFrame({
    "Number of Unique Items":item_count,
    "Average Price":average_price,
    "Number of Purchases":num_purchases,
    "Total Revenue":total_revenue
})
summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [197]:
gender_data = purchase_data.drop_duplicates(subset=['SN'], keep='first')
value_counts = gender_data["Gender"].value_counts()
player_percentage = (value_counts / 576)*100
gender_demographics = pd.DataFrame({"Total Count":value_counts,"Percentage of Players":player_percentage})
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{0:.2f}%".format)
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [195]:
by_gender = gender_data.groupby(['Gender'])

purchase_count = by_gender["Purchase ID"].count()
average_price = by_gender["Price"].sum() / purchase_count
total_value = by_gender["Price"].sum()
per_person = pd.DataFrame(purchase_data.groupby('SN')['Price'].sum())
SN_gender = gender_data[['SN','Gender']]
merged = pd.merge(per_person, SN_gender, on="SN")
total_purchase_per_gender = merged.groupby('Gender')['Price'].sum()
avg_total = total_purchase_per_gender / value_counts

gender_analysis = pd.DataFrame({
    "Purchase Count":purchase_count,
    "Average Purchase Price":average_price,
    "Total Purchase Value":total_value,
    "Avg Total Purchase per Person":avg_total})

gender_analysis["Average Purchase Price"] = gender_analysis["Average Purchase Price"].map("${:.2f}".format)
gender_analysis["Total Purchase Value"] = gender_analysis["Total Purchase Value"].map("${:,.2f}".format)
gender_analysis["Avg Total Purchase per Person"] = gender_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,81,$3.17,$256.43,$4.47
Male,484,$3.05,"$1,474.70",$4.07
Other / Non-Disclosed,11,$3.41,$37.52,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [194]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, float("inf")]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_data = purchase_data.drop_duplicates(subset=['SN'], keep='first')

age_demographics = pd.cut(age_data["Age"], bins, labels=group_names, right = False)
age_count = age_demographics.value_counts()
percent_age = (age_count / 576)*100

age_summary = pd.DataFrame({"Total Count":age_count,"Percentage of Players":percent_age})
age_summary['Percentage of Players'] = age_summary['Percentage of Players'].map("{0:.2f}%".format)
age_summary = age_summary.sort_index()
age_summary

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [193]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, float("inf")]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_data["age_demographics"] = pd.cut(age_data["Age"], bins, labels=group_names, right = False)
by_age = age_data.groupby(['age_demographics'])

purchase_count = by_age["Purchase ID"].count()
average_price = by_age["Price"].sum() / purchase_count
total_value = by_age["Price"].sum()
per_person = pd.DataFrame(purchase_data.groupby('SN')['Price'].sum())
SN_age = age_data[['SN','Age']]
merged = pd.merge(per_person, SN_age, on="SN")
merged["age_demographics"] = pd.cut(merged["Age"], bins, labels=group_names, right = False)
merged_by_age = merged.groupby('age_demographics')['Price'].sum()
avg_total = merged_by_age / age_count

age_analysis = pd.DataFrame({
    "Purchase Count":purchase_count,
    "Average Purchase Price":average_price,
    "Total Purchase Value":total_value,
    "Avg Total Purchase per Person":avg_total})

age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].map("${:.2f}".format)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${:,.2f}".format)
age_analysis["Avg Total Purchase per Person"] = age_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
age_analysis

/Users/sandraortellado/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,22,$3.07,$67.64,$3.76
15-19,107,$3.10,$331.88,$3.86
20-24,258,$3.06,$790.39,$4.32
25-29,77,$2.91,$223.93,$3.81
30-34,52,$2.92,$151.92,$4.12
35-39,31,$3.51,$108.81,$4.76
40+,12,$3.04,$36.45,$3.19
<10,17,$3.39,$57.63,$4.54

### Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [192]:
purchase_count = purchase_data['SN'].value_counts()
avg_purch_price = per_person['Price'] / purchase_count
total_purch_value = per_person['Price']

top_spenders = pd.DataFrame({
    'Purchase Count':purchase_count,
    'Average Purchase Price':avg_purch_price,
    'Total Purchase Value':total_purch_value
})

top_spenders = top_spenders.sort_values(by='Total Purchase Value', ascending=False)

top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map("${:,.2f}".format)
top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value'].map("${:.2f}".format)
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [203]:
(18.96+15.45+13.83+13.62+13.10)/5

14.991999999999999

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [191]:
items = purchase_data[['Item ID','Item Name','Price']]
grouped_items = items.groupby(['Item Name']).sum()
merged = pd.merge(grouped_items,items, on='Item Name')
merged = merged.drop_duplicates(subset=['Item ID_y'], keep='first')
merged = merged.drop('Item ID_x', axis = 1)
merged = merged.rename(columns = {'Price_x':'Total Purchase Value','Item ID_y':'Item ID','Price_y':'Item Price'})
purchase_count = round(merged['Total Purchase Value'] / merged['Item Price'])
merged['Purchase Count'] = purchase_count
merged
popular = merged.groupby(['Item ID', "Item Name"]).sum()

popular_sorted = popular.sort_values(by='Purchase Count', ascending=False)

popular_sorted['Total Purchase Value'] = popular_sorted['Total Purchase Value'].map("${:.2f}".format)
popular_sorted['Item Price'] = popular_sorted['Item Price'].map("${:.2f}".format)
popular_sorted['Purchase Count'] = popular_sorted['Purchase Count'].astype(int)

popular_sorted.head()

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
101,Final Critic,$59.99,$4.19,14
92,Final Critic,$59.99,$4.88,12
178,"Oathbreaker, Last Hope of the Breaking Storm",$50.76,$4.23,12
108,"Extraction, Quickblade Of Trembling Hands",$31.77,$3.53,9
82,Nirvana,$44.10,$4.90,9

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [190]:
profitable = popular.sort_values(by='Total Purchase Value', ascending=False)

profitable['Total Purchase Value'] = profitable['Total Purchase Value'].map("${:.2f}".format)
profitable['Item Price'] = profitable['Item Price'].map("${:.2f}".format)
profitable['Purchase Count'] = profitable['Purchase Count'].astype(int)

profitable.head()

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,$59.99,$4.88,12
101,Final Critic,$59.99,$4.19,14
178,"Oathbreaker, Last Hope of the Breaking Storm",$50.76,$4.23,12
82,Nirvana,$44.10,$4.90,9
145,Fiery Glass Crusader,$41.22,$4.58,9